---
BasedOnStyle:  LLVM
IndentWidth:     4
---
Language:      Cpp
Standard:      Cpp11
BreakBeforeBraces: Allman
ColumnLimit:     128
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
